# src requirements
-r ../src/requirements.in
-r ../src/importer/requirements.in

# docs-specific
pyopenssl>=26.2.0
Sphinx>=9.0.4
sphinx-autodoc-typehints>=3.6.1
sphinx_mdinclude>=0.6.2
sphinx_design>=0.7.0
sphinx_tippy>=0.4.3
furo>=2025.12.19
myst-parser>=5.0.0
linkify-it-py>=2.1.0
sphinx-js>=5.0.3
